﻿body
{
    background-color: #ffcd47;
    margin: 0px;
    padding: 0px;
    background: transparent url(../../images/LoginScreen_background.jpg) no-repeat 0 0;
}

.backgroundImage
{
	
	width: 980px;
	height: 687px;
}
