﻿body
{
	padding: 0px;
	margin: 0px;
	font-family: 'Segoe UI';
	font-size:10px;
}

fieldset { border:1px solid #d5dfe5 }
  
.topHedder
{
	background-color: #000000;
	background-image: url(../../images/MainTopBackgroundBlack.png);
	background-repeat: repeat-x;
	}

.righTextBox
{
	text-align:right;
	}

.hedderMainMenueBackground
{
	height: 30px;
	background-image: url(../../images/hedderMenueBackground.gif);
	background-repeat: repeat-x;
	border-bottom-style: none;
	border-left-style: none;
	border-top-style: none;
	border-right-style: none;
}

.hedderMainMenueSelected
{
	color: #ffffff;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #464646;
	width: 170px;
	background-image: url(../../images/hedderMenueSelectedNew.gif);
	background-repeat: repeat-x;
	cursor: pointer;
	border-bottom-style: none;
	border-left-style: none;
	border-top-style: none;
	height: 30px;
	border-right-style: none;
	border-left: #d0d0d0 1px solid;
	border-right: #d0d0d0 1px solid;
	font-family: Arial;
}
.hedderMainMenueNotSelected
{
	color: #454545;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: gray;
	width: 170px;
	cursor: pointer;
	background-image: url(../../images/hedderMenueBackground.gif);
	background-repeat: repeat-x;
	border-bottom-style: none;
	border-top-style: none;
	height: 30px;
	border-left: #d0d0d0 1px solid;
	border-right: #d0d0d0 1px solid;
	font-family: Arial;
}

.hedderMainMenueNotSelected:hover
{
	color: #ffffff;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #464646;
	width: 170px;
	background-image: url(../../images/hedderMenueSelectedNew.gif);
	background-repeat: repeat-x;
	cursor: pointer;
	border-bottom-style: none;
	border-left-style: none;
	border-top-style: none;
	height: 30px;
	border-right-style: none;
	border-left: #d0d0d0 1px solid;
	border-right: #d0d0d0 1px solid;
	font-family: Arial;
}

.subMenuItemBackground
{
	height: 25px;
	background-color: #f0f0f0;
	border-bottom: lightgrey 1px solid;
	border-left: lightgrey 0px solid;
	border-top: lightgrey 1px solid;
	border-right: lightgrey 0px solid;
	background-repeat: repeat-x;
}	

.subMenuItem
{
	color: #616161;
	font-size: 9pt;
	text-align: left;
	vertical-align: middle;
	border-bottom: dimgray 1px dotted;
	border-left: dimgray 1px;
	border-top: dimgray 1px;
	border-right: dimgray 1px;
	padding-left: 10px;
	padding-bottom: 6px;
	padding-top: 6px;
	cursor: pointer;
	background-repeat: repeat-x;
}

.subMenuItem:hover
{
	color: #000000;
	font-size: 9pt;
	text-align: left;
	vertical-align: middle;
	background-color: gainsboro;
	border-bottom: dimgray 1px dotted;
	border-left: dimgray 1px;
	border-top: dimgray 1px;
	border-right: dimgray 1px;
	padding-left: 10px;
	padding-bottom: 6px;
	padding-top: 6px;
	cursor: pointer;
	background-repeat: repeat-x;
}

.pageBackground
{
	background-color: #ffffff;
	font-size: 8pt;
	height:400px;
	vertical-align:top;
	
}
.pageHedder
{
	background-color: #f2f2f2;
	font-size: 10pt;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
	font-weight: bold;
}
.pageDataArea
{
	font-size: 9pt;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-right: 15px;

}
/* Begin Form Element Style*/
.textbox
{
	border-color: #797979;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, Arial;
	font-size: 10pt;
}

x;
	font-family: Verdana, Arial;
	font-size: 10pt;
}

.textarea
{
	border-color: #797979;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, Arial;
	font-size: 10pt;
	width: 222px;
}

.readonly-textbox
{
	background-color: Transparent;
	border-width: 0px;
	font-family: Verdana, Arial;
	font-size: 10pt;
}

.button
{
	border: 1px solid dimgray;
	background-color: #f2f2f2;
	font-family: Verdana, Arial;
	font-size: 10pt;
	cursor:pointer;
}

.button:hover 
{
	background-color: gainsboro;
	font-family: Verdana, Arial;
	font-size: 10pt;
	width: 75px;
	border-bottom: dimgray 1px solid;
	border-left: dimgray 1px solid;
	border-top: dimgray 1px solid;
	border-right: dimgray 1px solid;
	cursor: pointer;
}

.button-go
{
	background-color: #ecf5ff;
	border-color: #3fb9ff;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, Arial;
	font-size: 10pt;
	width: 35px;
}

.dropdownlist
{
	font-size: 10pt;
}

.dropdownlist-x-small
{
	font-size: 10pt;
	width: 75px;
}

.dropdownlist-small
{
	font-size: 10pt;
	width: 122px;
}

.dropdownlist-medium
{
	font-family: Verdana, Arial;
	font-size: 10pt;
	width: 228px;
}

.dropdownlist-large
{
	font-family: Verdana, Arial;
	font-size: 10pt;
	width: 400px;
}

.dropdownlist-x-large
{
	font-family: Verdana, Arial;
	font-size: 10pt;
	width: 500px;
}

.formstyle
{
	border-collapse: collapse;
	border-color: #3fb9ff;
	border-style: solid;
	border-width: 1px;
}

.formheaderback
{
	background-color: #3fb9ff;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 9pt;
	font-weight: bold;
	height: 80;
	background-image: url(../../images/cpuHedder.GIF);
	background-position-y: top;
	background-repeat: repeat-x;
}

.innerformheaderback
{
	background-color: #E8E8E8;
	color: #000000;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	height: 80;
}

A:visited
{
	color: #007ec6;
	text-decoration: underline;
}

A:link
{
	color: #007ec6;
	text-decoration: underline;
    text-align: left;
}

A:active
{
	color: #007ec6;
	text-decoration: underline;
}

A:hover
{
	color: #3fb9ff;
	text-decoration: underline;
}

.searchs
{
	background-color: #ffeabe;
	border-collapse: collapse;
	border-color: #ffae00;
	border-style: solid;
	border-width: 1px;
}

.search-header
{
	color: #FFFFFF;
	font-weight: bold;
}

.search-button
{
	background-color: #FFF8E8;
	border-color: #ffae00;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, Arial;
	font-size: 10pt;
	width: 75px;
}

.program-consult
{
	background-color: #F2F2F2;
	border-collapse: collapse;
	border-color: #888888;
	border-style: solid;
	border-width: 1px;
}

.program-consult-button
{
	background-color: #F9F9F9;
	border-color: #888888;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, Arial;
	font-size: 10pt;
}

.search-inside-box
{
	background-color: #CCCCFF;
	border-collapse: collapse;
	border-color: #0066FF;
	border-style: solid;
	border-width: 1px;
}

.error-box
{
	background-color: #FCEFD8;
	border-color: #F48100;
	border-style: solid;
	border-width: 1px;
}

.error-txt
{
	color: #FF0033;
	font-weight: bold;
}

.frame-table
{
	border: 1px solid #C8C8C8;
}

.no-record-msg-left
{
	background-color: #838383;
}

.view-back
{
	background-color: #F2F2F2;
}

.save-message
{
	color: #007ec6;
	font-family: Verdana;
	font-size: 9pt;
	font-weight: bold;
}

.display-cell
{
	padding-left: 3px;
	padding-right: 3px;
}

.required-star
{
	color: Red;
	font-family: Verdana, Arial;
	font-size: 10pt;
}


.textbox-currency
{
	font-family: Verdana, Arial;
	font-size: 10pt;
	border: 1px solid #797979;
	text-align: right;
}

.s
{
	border-left-color: #c9e6ff;
	border-bottom-color: #c9e6ff;
	border-top-style: dotted;
	border-top-color: #c9e6ff;
	border-right-style: dotted;
	border-left-style: dotted;
	border-right-color: #c9e6ff;
	border-bottom-style: dotted;
}

th
{
	text-align: left;
}

.checkboxlist
{
	border-color: #797979;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, Arial;
	font-size: 10pt;
	background-color: White;
	width: 122px;
}

.update-progress
{
	color: #3fb9ff;
	background-color: white;
	font-size: 9pt;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

/* End Form Element Style*/

/* Image Preview Style*/

#overlay
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #c7ebff;
}

/* End Image Preview Style*/

/* Selected ItemText Style */

.leftTop
{
	background: #FFF url(  '../../images/linebox_images/leftTop.gif' ) no-repeat center center;
	width: 4px;
	height: 4px;
}
.rightTop
{
	background: #FFF url(  '../../images/linebox_images/RightTop.gif' ) no-repeat center center;
	width: 4px;
	height: 4px;
}
.leftBottom
{
	background: #FFF url(  '../../images/linebox_images/leftBottom.gif' ) no-repeat center center;
	width: 4px;
	height: 4px;
}
.rightBottom
{
	background: #FFF url(  '../../images/linebox_images/rightBottom.gif' ) no-repeat center center;
	width: 4px;
	height: 4px;
}
.rightLine
{
	background: #FFF url(  '../../images/linebox_images/rightLine.gif' ) center center;
	width: 4px;
	height: 4px;
}
.leftLine
{
	background: #FFF url(  '../../images/linebox_images/leftLine.gif' ) center center;
	width: 4px;
	height: 4px;
}
.topLine
{
	background: #FFF url(  '../../images/linebox_images/topLine.gif' ) center center;
	height: 4px;
}
.bottomLine
{
	background: #FFF url(  '../../images/linebox_images/botLine.gif' ) center center;
	height: 4px;
}
.dataCell
{
	background-color: #feffcf;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.autocomplete_text
{
	background-image: url(../../images/autocomplete_leftcap.gif);
	background-position: right;
	background-repeat: no-repeat;
	border-color: #797979;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, Arial;
	font-size: 10pt;
}

.autocomplete_text_busy
{
	background-image: url(../../images/autocomplete_spinner.gif);
	background-position: right;
	background-repeat: no-repeat;
	border-color: #797979;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, Arial;
	font-size: 10pt;
}

.autocomplete_text_done
{
	background-image: url(../../images/autocomplete_complete.gif);
	background-position: right;
	background-repeat: no-repeat;
	border-color: #797979;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, Arial;
	font-size: 10pt;
}

/* End Selected ItemText Style */









/* stc Style */

.hedderNavigationBar
{
	width: 100%;
	height: 26px;
	background-position: 0px top;
	background-image: url(../../images/hedderNavigationBar.gif);
	background-repeat: repeat-x;
}
.hedderNavigationNormalButton
{
	border: 0px solid #999999;
	background-color: #dfe6ff;
	font-family: Verdana, Arial;
	font-size: 8pt;
	background-image: url(../../images/hedderNavigationBar.gif);
	margin-left: 0px;
	height: 26px;
}
.hedderNavigationAltButton
{
	border: 0px solid #999999;
	background-color: #dfe6ff;
	font-family: Verdana, Arial;
	font-size: 8pt;
	background-image: url(../../images/hedderButtonAlt.gif);
	margin-left: 0px;
	height: 26px;
}

.hedderNavigationBreack
{
	width: 100%;
	height: 26px;
	background-position: 0px top;
	background-image: url(../../images/hedderNavigationBreack.gif);
	background-repeat: repeat-x;
}
.sheduleStyle
{
	margin: 0px;
	border-right: #c2dbfa 10px solid;
	border-top: #c2dbfa 10px solid;
	border-left: #c2dbfa 10px solid;
	border-bottom: #c2dbfa 10px solid;
}
.hedderName
{
	color: #545454;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}
.hedderData
{
	color: dimgray;
	font-family: Arial;
	font-size: 9pt;
}

.grid-stcMain
{
	border: 1px solid gainsboro;
    text-align: left;
}
.grid-row-full-stc
{
	background-color: #f2f2f2;
	border-width: 0px;
	color: #6e6e6e;
	font-family: Arial;
	font-size: 8pt;
	height: 20px;
}

.grid-row-normal-stc
{
	background-color: #ffffff;
	border-width: 0px;
	color: #6e6e6e;
	font-size: 9pt;
	height: 20px;
}

.grid-row-normal-stc:hover
{
	background-repeat: repeat-x;
	color: Black;
	background-color: #87CEFA;
}

.grid-row-alt-stc:hover
{
	background-repeat: repeat-x;
	color:Black;
	background-color: #87CEFA;
}

.grid-row-normal-stc:hover A
{
	background-repeat: repeat-x;
	color:Black;
	background-color: #87CEFA;
}

.grid-row-alt-stc:hover A
{
	background-image: url(../../images/subMenueSelectedBackground.png);
	background-repeat: repeat-x;
	color:Black;
}


.grid-row-normal-stc A
{
	color: dimgray;
}

.grid-row-alt-stc
{
	background-color: whitesmoke;
	border-width: 0px;
	color: #6e6e6e;
	font-size: 9pt;
	height: 20px;
}

.grid-row-alt-stc A
{
	color: dimgray;
}


.grid-row-footerEntries-stc
{
	width: 100%;
	height: 26px;
	background-position: 0px top;
	background-image: url(../../images/stcFooter.gif);
	background-repeat: repeat-x;
	padding-right: 25px;
}
.grid-row-normal-stc td
{
	border: #c9e6ff 0px solid;
}

.grid-row-alt-stc td
{
	border-bottom: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	border-right: gainsboro 1px solid;
}

.grid-row-full-stc th
{
	border-bottom: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	border-right: gainsboro 1px solid;
}

.grid-row-normal-stc td
{
	border-bottom: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	border-right: gainsboro 1px solid;
}

.grid-row-full-stc th
{
	border-bottom: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	border-right: gainsboro 1px solid;
}

.grid-row-hilight-stc
{
	background-color: #f9f9f9;
	border-width: 0px;
	color: #000000;
	font-family: Arial;
	font-size: 8pt;
	height: 20px;
	background-image: url(../../images/stcHighlightRow.GIF);
}
.grid-row-hilight-stc td
{
	border:#00FFFF 0px solid;
}
.grid-footer
{
	background-color: #d5f0ff;
	border-color: #d5f0ff;
	border-style: solid;
	border-width: 1px;
	color: black;
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
}

.grid-header
{
	background-color: #9c9c9c;
	border-color: #3fb9ff;
	border-style: solid;
	border-width: 0px;
	color: dimgray;
	font-family: Tahoma;
	font-size: 9pt;
	font-weight: bold;
	height: 25px;
	background-repeat: repeat-x;
	background-image: url(../../images/hedderMenueBackground.gif);
}

.grid-header th
{
	border-bottom: lightgrey 1px solid;
	border-left: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	border-right: lightgrey 1px solid;
}

.grid-pager
{
	background-color: buttonface;
	border-color: #d5f0ff;
	border-style: solid;
	border-width: 1px;
	color: black;
	font-family: Tahoma;
	font-size: 8pt;
}

.grid-pager td
{
	border-bottom: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	border-right: gainsboro 1px solid;
}

.grid-footer
{
	background-color: #d5f0ff;
	border-color: #d5f0ff;
	border-style: solid;
	border-width: 1px;
	color: black;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
}

.no-record-msg
{
	background-color: #F5F5F5;
	font-family: Tahoma;
	font-size: 8pt;
	border-bottom: gainsboro 1px double;
	border-left: gainsboro 1px double;
	border-top: gainsboro 1px double;
	border-right: gainsboro 1px double;
}


.autocomplete_text
{
	background-image: url(../../images/autocomplete_leftcap.gif);
	background-position: right;
	background-repeat: no-repeat;
	border: 1px solid #CCCCCC;
	font-family: Verdana, Arial;
	font-size: 10pt;
	padding-right:25px;
}

.autocomplete_text_busy
{
	background-image: url(../../images/loadingSmall.gif);
	background-position: right;
	background-repeat: no-repeat;
	border: 1px solid #CCCCCC;
	font-family: Verdana, Arial;
	font-size: 10pt;
	padding-right:25px;
}

.autocomplete_text_done
{
	background-image: url(../../images/autocomplete_complete.gif);
	background-position: right;
	background-repeat: no-repeat;
	border: 1px solid #CCCCCC;
	font-family: Verdana, Arial;
	font-size: 10pt;
	padding-right:25px;
}
.step_enable
{
	text-align:center;
	color: #003399;
	font-family: Comic Sans MS;
	width: 60px;
	}
	
	.step_disable
{
	text-align:center;
	color: #CCCCFF;
	font-family: Comic Sans MS;
	width: 60px;
	}
	
	.navigate_button
{
	background-color: #336699;
	font-family: Verdana;
	font-weight: bold;
	font-family: Verdana;
	Font-Size: 15px;
	width: 100px;
	Height: 32px;
	color: White;
	}
	
		.navigate_button_disable
{
	background-color: #CCCCFF;
	font-family: Verdana;
	font-weight: bold;
	font-family: Verdana;
	Font-Size: 15px;
	width: 100px;
	Height: 32px;
	color: White;
	}

/* End stc Style */


