﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="repo.aspx.cs" Inherits="repo_stock_repo_repo" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>FUEL STOCK REPORT</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label ID="LabelReportBody1" runat="server"></asp:Label>
    </div>
    </form>
</body>
</html>
