﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="tran.master.cs" Inherits="shrd_tran" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Transaction</title>
    <link href="../inc_fils/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; height: 100%;">
            <tr class="topHedder">
                <td style="padding-top: 15px;">
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tr>
                            <td style="padding-left: 15px;">
                                <span style="font-size: 30px; color: White; font-weight: bold;"><span style="color: White; font-size: 16px;"></span>Inventory Control System</span>
                            </td>
                            <td align="right" style="padding-right: 15px; padding-left: 15px; font-weight: normal; font-size: 10pt; color: #ffffff">Login User - &nbsp;<strong><asp:Label ID="LabelUserName" runat="server" Text=""></asp:Label></strong>&nbsp;
       | &nbsp;<asp:LinkButton ID="LinkButtonLogOut" runat="server" Font-Size="10pt" Font-Underline="False"
           ForeColor="White" OnClick="LinkButtonLogOut_Click">Log Out</asp:LinkButton>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="padding-top: 10px;"></td>
                            <td style="padding-top: 10px"></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                    <tr>
                                        <td class="hedderMainMenueNotSelected" onclick="window.location = '../../mast_sett/lodg_page/Default.aspx';">Master Setting
                                        </td>
                                        <td class="hedderMainMenueSelected" onclick="window.location = '../../tran/lodg_page/Default.aspx';">Transaction
                                        </td>
                                        <td class="hedderMainMenueNotSelected" onclick="window.location = '../../repo/lodg_page/Default.aspx';">Report
                                        </td>
                                        <td class="hedderMainMenueBackground" style="padding-right: 15px" align="right"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tr>
                            <td style="width: 180px; vertical-align: top; padding-top: 0px;" class="subMenuItemBackground">
                                <table border="0" cellspacing="0" style="width: 100%">
                                    <tr>
                                        <td class="subMenuItem" onclick="window.location = '../../tran/lodg_page/Default.aspx';">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20px;">
                                                        <img src="../../images/LinkBullet.gif" style="border: 0px;" />
                                                    </td>
                                                    <td>Home
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subMenuItem" onclick="window.location = '../../tran/purc_order/Default.aspx';">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20px;">
                                                        <img src="../../images/LinkBullet.gif" style="border: 0px;" />
                                                    </td>
                                                    <td>Purchase Order
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subMenuItem" onclick="window.location = '../../tran/po_grn/Default.aspx';">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20px;">
                                                        <img src="../../images/LinkBullet.gif" style="border: 0px;" />
                                                    </td>
                                                    <td>GRN
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subMenuItem" onclick="window.location = '../../tran/grn_appr/Default.aspx';">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20px;">
                                                        <img src="../../images/LinkBullet.gif" style="border: 0px;" />
                                                    </td>
                                                    <td>GRN Approval
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subMenuItem" onclick="window.location = '../../tran/job_card/Default.aspx';">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20px;">
                                                        <img src="../../images/LinkBullet.gif" style="border: 0px;" />
                                                    </td>
                                                    <td>Job Card
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subMenuItem" onclick="window.location = '../../tran/jobc_appr/Default.aspx';">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20px;">
                                                        <img src="../../images/LinkBullet.gif" style="border: 0px;" />
                                                    </td>
                                                    <td>Job Card Approval
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <%--<tr>
                                        <td class="subMenuItem" onclick="window.location = '../../tran/grn/Default.aspx';">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20px;">
                                                        <img src="../../images/LinkBullet.gif" style="border: 0px;" />
                                                    </td>
                                                    <td>GRN - Direct
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>--%>
                                    <%--<tr>
         <td class="subMenuItem" onclick="window.location = '../../tran/purc_retn/Default.aspx';">
          <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
           <tr>
            <td style="width: 20px;">
             <img src="../../images/LinkBullet.gif" style="border: 0px;" />
            </td>
            <td>
             Purchase Return
            </td>
           </tr>
          </table>
         </td>
        </tr>--%>
                                    <%--<tr>
                                        <td class="subMenuItem" onclick="window.location = '../../tran/loca_tran/Default.aspx';">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20px;">
                                                        <img src="../../images/LinkBullet.gif" style="border: 0px;" />
                                                    </td>
                                                    <td>Location Transfer
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subMenuItem" onclick="window.location = '../../tran/sale_issu/Default.aspx';">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20px;">
                                                        <img src="../../images/LinkBullet.gif" style="border: 0px;" />
                                                    </td>
                                                    <td>Sales Issue
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>--%>
                                    <%--<tr>
         <td class="subMenuItem" onclick="window.location = '../../tran/cash_coll/Default.aspx';">
          <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
           <tr>
            <td style="width: 20px;">
             <img src="../../images/LinkBullet.gif" style="border: 0px;" />
            </td>
            <td>
             Cash Collection
            </td>
           </tr>
          </table>
         </td>
        </tr>--%>
                                    <%-- <tr>
                                        <td class="subMenuItem" onclick="window.location = '../../tran/stok_ajus/Default.aspx';">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20px;">
                                                        <img src="../../images/LinkBullet.gif" style="border: 0px;" />
                                                    </td>
                                                    <td>Stock Adjustment
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subMenuItem" onclick="window.location = '../../tran/ajus_appr/Default.aspx';">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td style="width: 20px;">
                                                        <img src="../../images/LinkBullet.gif" style="border: 0px;" />
                                                    </td>
                                                    <td>Adjustment Approval
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>--%>
                                </table>
                            </td>
                            <td style="vertical-align: top; background-color: lightgrey; padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px;">
                                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                                </asp:ContentPlaceHolder>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="pageHedder" colspan="2" style="border-top-width: 1px; padding-right: 15px; padding-left: 15px; font-weight: normal; font-size: 8pt; padding-bottom: 10px; vertical-align: top; border-top-color: lightgrey; padding-top: 10px; border-bottom: lightgrey 2px solid">This site is optimized for screen resolution of 1024 x 768. Copyright © 2016 Pahansoft Lanka Technologies. All rights reserved.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 19px">&nbsp;
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
