﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="repo.aspx.cs" Inherits="tran_purc_order_repo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
 <title>Purchase Order</title>
</head>
<body>
 <form id="form1" runat="server">
 <div>
  <asp:Label ID="LabelReportBody" runat="server"></asp:Label>
 </div>
 </form>
</body>
<%--<script language="javascript">
 window.print();                                                 
</script>--%>
</html>